USE [master]
GO
/****** Object:  Database [BenhVienDB]    Script Date: 5/12/2026 12:53:05 PM ******/
CREATE DATABASE [BenhVienDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BenhVienDB', FILENAME = N'D:\Apps\SQL Sever 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\BenhVienDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BenhVienDB_log', FILENAME = N'D:\Apps\SQL Sever 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\BenhVienDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BenhVienDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BenhVienDB]
GO
/****** Object:  Table [dbo].[Consultations]    Script Date: 5/12/2026 12:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NULL,
	[DoctorId] [int] NULL,
	[EcgRecordId] [int] NULL,
	[PatientComplaint] [nvarchar](max) NULL,
	[SubmittedAt] [datetime] NULL,
	[DoctorFindings] [nvarchar](max) NULL,
	[DoctorTreatment] [nvarchar](max) NULL,
	[RespondedAt] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataBenhNhan]    Script Date: 5/12/2026 12:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataBenhNhan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[xi] [float] NULL,
	[oi] [float] NULL,
	[qi] [float] NULL,
	[envelope] [float] NULL,
	[pred_peak_mask] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 5/12/2026 12:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Specialty] [nvarchar](100) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EcgRecords]    Script Date: 5/12/2026 12:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EcgRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NULL,
	[RecordName] [nvarchar](100) NULL,
	[RecordedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 5/12/2026 12:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Age] [int] NULL,
	[Gender] [nvarchar](20) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DataBenhNhan] ON 

INSERT [dbo].[DataBenhNhan] ([id], [xi], [oi], [qi], [envelope], [pred_peak_mask]) VALUES (1, NULL, 0.011663549630455572, NULL, NULL, NULL)
INSERT [dbo].[DataBenhNhan] ([id], [xi], [oi], [qi], [envelope], [pred_peak_mask]) VALUES (2, NULL, 0.010378324595938144, NULL, NULL, NULL)
INSERT [dbo].[DataBenhNhan] ([id], [xi], [oi], [qi], [envelope], [pred_peak_mask]) VALUES (3, NULL, 0.0092140239786412271, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[DataBenhNhan] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([Id], [FullName], [Specialty], [Username], [Password]) VALUES (1, N'Bs. Jane Doe', N'Tim Mạch', N'1', N'1')
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[EcgRecords] ON 

INSERT [dbo].[EcgRecords] ([Id], [PatientId], [RecordName], [RecordedAt]) VALUES (1, 1, N'ecg_record_1.json', CAST(N'2024-03-01T08:00:00.000' AS DateTime))
INSERT [dbo].[EcgRecords] ([Id], [PatientId], [RecordName], [RecordedAt]) VALUES (2, 1, N'ecg_record_2.json', CAST(N'2024-03-02T08:00:00.000' AS DateTime))
INSERT [dbo].[EcgRecords] ([Id], [PatientId], [RecordName], [RecordedAt]) VALUES (3, 1, N'ecg_record_3.json', CAST(N'2024-03-03T08:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[EcgRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([Id], [FullName], [Age], [Gender], [PhoneNumber], [Email], [Address]) VALUES (1, N'Nguyen Van A', 45, N'Male', N'0901234567', N'nva@example.com', N'123 Le Loi, HCMC')
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
ALTER TABLE [dbo].[Consultations] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Consultations] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[EcgRecords] ADD  DEFAULT (getdate()) FOR [RecordedAt]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD FOREIGN KEY([EcgRecordId])
REFERENCES [dbo].[EcgRecords] ([Id])
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[EcgRecords]  WITH CHECK ADD FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
USE [master]
GO
